[submodule "themes/zero"]
	path = themes/zero
	url = https://github.com/OutlawPlz/zero
[submodule "modules/ckeditor_templates"]
	path = modules/ckeditor_templates
	url = https://github.com/OutlawPlz/ckeditor_templates
[submodule "modules/pathauto"]
	path = modules/pathauto
	url = https://git.drupal.org/project/pathauto.git
[submodule "modules/linkit"]
	path = modules/linkit
	url = https://git.drupal.org/project/linkit.git
[submodule "modules/token"]
	path = modules/token
	url = https://git.drupal.org/project/token.git
	branch = 8.x-1.x
[submodule "modules/ctools"]
	path = modules/ctools
	url = https://git.drupal.org/project/ctools.git
	branch = 8.x-3.x
[submodule "modules/honeypot"]
	path = modules/honeypot
	url = https://git.drupal.org/project/honeypot.git
[submodule "modules/devel"]
	path = modules/devel
	url = https://git.drupal.org/project/devel.git
[submodule "modules/inline_entity_form"]
	path = modules/inline_entity_form
	url = https://git.drupal.org/project/inline_entity_form.git
	branch = 8.x-1.x
