[submodule "themes/zero"]
	path = themes/zero
	url = https://github.com/OutlawPlz/zero
[submodule "modules/ckeditor_templates"]
	path = modules/ckeditor_templates
	url = https://github.com/OutlawPlz/ckeditor_templates
